body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(135deg, #ffffff 20%, #000000 100%);
    font-family: 'Arial', sans-serif;
}

.calculator {
    background: linear-gradient(135deg, #ffffff 50%, #000000 100%);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.display {
    background: rgba(0, 0, 0, 0.1);
    color: rgb(12, 11, 11);
    text-align: right;
    padding: 20px;
    font-size: 2em;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

button {
    border: none;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background 0.3s;
    color: white;
}

button:nth-child(1) {
    background: #FF1744;
}

button:nth-child(2) {
    background: #5b68ff;
}

button:nth-child(3) {
    background: #5c38ff;
}

button:nth-child(4) {
    background: #5c38ff;
}

button:nth-child(5) {
    background: #5c38ff;
}

button:nth-child(6) {
    background: #5c38ff;
}

button:nth-child(7) {
    background: #5c38ff;
}

button:nth-child(8) {
    background: #5c38ff;
}

button:nth-child(9) {
    background: #5c38ff;
}

button:nth-child(10) {
    background: #5c38ff;
}

button:nth-child(11) {
    background: #5c38ff;
}

button:nth-child(12) {
    background: #5c38ff;
}

button:nth-child(13) {
    background: #5c38ff;
}

button:nth-child(14) {
    background: #5c38ff;
}

button:nth-child(15) {
    background: #5c38ff;
}

button:nth-child(16) {
    background: #5c38ff;
}

button:nth-child(17) {
    background: #5c38ff;
}

button:nth-child(18) {
    background: #80ff3b;
}

button:hover {
    filter: brightness(1.2);
}

button:active {
    filter: brightness(0.9);
}

.zero {
    grid-column: span 2;
}

.inicio{
    position: absolute;
  top: 20px;
  left: 50px;
}